PORT=5000
MONGO_URI= mongodb+srv://karanthable211_db_user:goj7c5jZCZUsnEUI@cluster0.76xvxxt.mongodb.net/
JWT_SECRET= 3RDY8foffMATQ38A0v7tOHAfGzRggMqTDmt7ZNDwgW0tPfAC7WS5zWsTMna
JWT_EXPIRES_IN=3d
CLIENT_URL=http://localhost:5173
NODE_ENV=development
